#!/bin/bash

set -e

cd {{ location.docker_data }}/{{ service_directory }}
mkdir -p {{ location.onsite_backups }}/{{ service_directory }}

bt=$(date '+%Y%m%d-%H%M')

sqlite3 data/gonic.db ".backup 'gonic-$bt.db'"

zstd --rm -q gonic-$bt.db

mv gonic-$bt.db.zst {{ location.onsite_backups }}/{{ service_directory }}
