version: "{{ docker.compose_version }}"
x-function: &function
  restart: unless-stopped
  security_opt:
    - no-new-privileges

networks:
  {{ network }}:
    internal: true
  {{ docker.expose_network }}:
    external: true
  pg-net:
    external: true

services:
  {{ service_directory }}:
    image: {{ service_image }}:{{ image_tag }}
    container_name: {{ service_directory }}
    <<: *function
    cap_drop:
      - SYS_ADMIN
      - AUDIT_WRITE
      - MKNOD
      - SYS_CHROOT
      - SETFCAP
      - SYS_PTRACE
      - DAC_OVERRIDE
      - SETPCAP
    volumes:
      - ./{{ config_file }}:/app/config.properties:ro
    networks: &network_default
      - {{ docker.expose_network}}
      - {{ network }}
    depends_on:
      - {{ service_directory }}-postgres


  {{ service_directory }}-frontend:
    image: {{ service_image }}-frontend:{{ image_tag }}
    container_name: {{ service_directory }}-frontend
    <<: *function
    cap_drop:
      - SYS_ADMIN
      - AUDIT_WRITE
      - MKNOD
      - SYS_CHROOT
      - NET_RAW
      - SETFCAP
      - SYS_PTRACE
      - DAC_OVERRIDE
      - SETPCAP
    networks: *network_default
    entrypoint: ash -c 'sed -i s/pipedapi.kavin.rocks/{{ urls.piped.sub }}.{{ base_tld }}/g /usr/share/nginx/html/assets/* && /docker-entrypoint.sh && nginx -g "daemon off;"'
    depends_on:
      - {{ service_directory }}

  {{ service_directory }}-proxy:
    image: {{ service_image }}-proxy:{{ image_tag }}
    container_name: {{ service_directory }}-proxy
    <<: *function
    cap_drop:
      - SYS_ADMIN
    environment:
      - UDS=1
    volumes:
      - {{ location.docker_data }}/{{ service_directory }}/piped-proxy:/app/socket
    networks: *network_default
