max_connections = {{ postgres_max_cons }}
shared_buffers = {{ postgres_shared_bufs }}
effective_cache_size = {{ postgres_eff_cache }}
maintenance_work_mem = {{ postgres_maint_work_mem }}
checkpoint_completion_target = {{ postgres_checkp_compl_target }}
wal_buffers = {{ postgres_wal_bufs }}
default_statistics_target = {{ postgres_def_stat_target }}
random_page_cost = {{ postgres_ran_page_cost }}
effective_io_concurrency = {{ postgres_eff_io_conc }}
work_mem = {{ postgres_work_mem }}
huge_pages = {{ postgres_huge_pages }}
min_wal_size = {{ postgres_min_wal }}
max_wal_size = {{ postgres_max_wal }}
