#!/bin/bash

set -e

cd {{ location.docker_data }}/{{ service_directory }}
mkdir -p {{ location.onsite_backups }}/{{ service_directory }}

bt=$(date '+%Y%m%d-%H%M')
docker exec -t {{ service_directory }} pg_dumpall -c -U {{ pg.root.user }} > {{ service_directory }}-$bt.sql

zstd --rm -q {{ service_directory }}-$bt.sql

mv {{ service_directory }}-$bt.sql.zst {{ location.onsite_backups }}/{{ service_directory }}
