version: "{{ docker.compose_version }}"

networks:
  {{ network }}:
    internal: true
  {{ docker.expose_network }}:
    external: true
  pg-net:
    external: true

services:
  {{ service_directory }}-server:
    image: {{ image }}
    container_name: {{ service_directory }}-server
    restart: unless-stopped
    security_opt:
      - no-new-privileges
    entrypoint: ["/bin/sh", "./start-server.sh"]
    volumes:
      - {{ location.pictures }}:/usr/src/app/upload
    environment:
      - TYPESENSE_API_KEY={{ typesense.api_key }}
      - DB_HOSTNAME={{ service_directory }}-postgres
      - DB_DATABASE_NAME={{ service_directory }}
      - REDIS_HOSTNAME={{ service_directory }}-redis
      - UPLOAD_LOCATION={{ location.pictures }}
      - PUBLIC_LOGIN_PAGE_MESSAGE=
      - IMMICH_WEB_URL=http://{{ service_directory }}-web:3000
      - IMMICH_SERVER_URL=http://{{ service_directory }}-server:3001
      - IMMICH_MACHINE_LEARNING_URL=http://{{ service_directory }}-machine-learning:3003
      - DB_USERNAME={{ postgres.user }}
      - DB_PASSWORD={{ postgres.password }}
    depends_on:
      - {{ service_directory }}-redis
      - {{ service_directory }}-postgres
    networks:
      - {{ network }}
      - {{ docker.expose_network }}

  {{ service_directory }}-microservices:
    image: {{ image }}
    entrypoint: ["/bin/sh", "./start-microservices.sh"]
    container_name: {{ service_directory }}-microservices
    restart: always
    security_opt:
      - no-new-privileges
    volumes:
      - {{ location.pictures }}:/usr/src/app/upload
    environment:
      - TYPESENSE_API_KEY={{ typesense.api_key }}
      - DB_HOSTNAME={{ service_directory }}-postgres
      - DB_DATABASE_NAME={{ service_directory }}
      - REDIS_HOSTNAME={{ service_directory }}-redis
      - UPLOAD_LOCATION={{ location.pictures }}
      - PUBLIC_LOGIN_PAGE_MESSAGE=
      - IMMICH_WEB_URL=http://{{ service_directory }}-web:3000
      - IMMICH_SERVER_URL=http://{{ service_directory }}-server:3001
      - IMMICH_MACHINE_LEARNING_URL=http://{{ service_directory }}-machine-learning:3003
      - DB_USERNAME={{ postgres.user }}
      - DB_PASSWORD={{ postgres.password }}
    depends_on:
      - {{ service_directory }}-redis
      - {{ service_directory }}-postgres
    networks:
      - {{ network }}
      - {{ docker.expose_network }}

{% if machine_learning.enabled %}
  {{ service_directory }}-machine-learning:
    container_name: {{ service_directory }}_machine_learning
    image: {{ machine_learning_image }}
    volumes:
      - {{ location.pictures }}:/usr/src/app/upload
      - {{ location.cache }}/{{ service_directory }}:/cache
    environment:
      - UPLOAD_LOCATION={{ location.pictures }}
    restart: unless-stopped
{% endif %}
