export NODE_PATH="$XDG_DATA_HOME"/nvim/mason/packages/commitlint/node_modules
export ANSIBLE_VAULT_PASSWORD_FILE=vault_password
export INFISICAL_CLIENT_ID=$(rbw get --full "Infisical API" | tail -n 1 | cut -d' ' -f2)
export INFISICAL_CLIENT_SECRET=$(rbw get "Infisical API")
export INFISICAL_PROJECT_ID=65aff3b9d18e1b9f52d85ab9
