inventory/hosts
files/adguard-home/files/persistent_clients.yml
vars/adguard-home.yml

host_vars/*.yml
!host_vars/examplebox.yml

group_vars/*.yml
!group_vars/example_homelab.yml

debug.yml

docs/.vitepress/dist
docs/.vitepress/cache
/node_modules

lookup_plugins/__pycache__
