---
server_url: https://{{ expanded_url }}:443
listen_addr: 0.0.0.0:8080
grpc_allow_insecure: false

noise:
  private_key_path: /etc/headscale/data/noise_private.key

ip_prefixes:
  - fd7a:115c:a1e0::/48
  - {{ base_tailnet }}/10

derp:
  server:
    enabled: false
  urls:
    - https://controlplane.tailscale.com/derpmap/default
  paths: []
  auto_update_enabled: true
  update_frequency: 24h

disable_check_updates: true
ephemeral_node_inactivity_timeout: 30m
node_update_check_interval: 10s

database:
  type: sqlite

  sqlite:
    path: /etc/headscale/data/db.sqlite


acme_url: https://acme-v02.api.letsencrypt.org/directory
acme_email: ""
tls_letsencrypt_hostname: ""
tls_letsencrypt_cache_dir: /etc/headscale/cache
tls_letsencrypt_challenge_type: HTTP-01
tls_letsencrypt_listen: ":http"
tls_cert_path: ""
tls_key_path: ""
unix_socket: /etc/headscale/data/socket/headscale.sock
unix_socket_permission: "0770"

log:
  format: text
  level: info

acl_policy_path: ""

dns_config:
  override_local_dns: true
  nameservers:
    - {{ base_tailip }}
  domains: []
  magic_dns: false
  base_domain: {{ base_tld }}

logtail:
  enabled: false
randomize_client_port: false
