#!/bin/bash

set -e

cd {{ location.docker_data }}/{{ service_directory }}
mkdir -p {{ location.onsite_backups }}/{{ service_directory }}

bt=$(date '+%Y%m%d-%H%M')

sqlite3 db.sqlite3 ".backup 'db-$bt.sqlite3'"

zstd --rm -q db-$bt.sqlite3

mv db-$bt.sqlite3.zst {{ location.onsite_backups }}/{{ service_directory }}
