:root {
  --color-terminal-background:#f8f8f8;
  --color-terminal-base:#111;
  --color-terminal-accent:darkblue;
  --color-terminal-accent-selected:darkgreen;
  --color-terminal-hover:#eee;
  --color-terminal-border:#dfdfdf;
  --color-terminal-danger:red;
  --color-terminal-warning:darkred;
  --color-terminal-accent-alternative:darkred;
  --color-terminal-log-row-alternative:#eee;
  --color-terminal-json-key:darkblue;
  --color-terminal-json-value:darkred;
  --color-terminal-cell-failure:darkred;
  --color-terminal-cell-success:darkgreen;
  --color-terminal-cell-paused:darkorange
}
