version: "{{ docker.compose_version }}"

x-logging: &default-logging
  driver: "json-file"
  options:
    max-size: "50m"
    max-file: "4"

networks:
  {{ docker.traefik_network }}:
    external: true

services:
  {{ service_directory }}:
    image: {{ image }}
    container_name: {{ service_directory }}
    restart: unless-stopped
    security_opt:
      - no-new-privileges
    logging: *default-logging
    networks:
      - {{ docker.traefik_network }}
    volumes:
      - {{ location.files }}:/srv/sftpgo
      - {{ location.docker_data }}/{{ service_directory }}:/var/lib/sftpgo
      - ./files.html:/usr/share/sftpgo/templates/webclient/files.html
    environment:
{% for item in sftpgo_options %}
{% for key, value in item.items() %}
      {{ key }}: "{{ value }}"
{% endfor %}
{% endfor %}
    ports:
      - 2022:2022
