server {
	listen       80;
    server_name {{ item.server_name | default(expanded_url) }};
	set $domain_name {{ item.server_name | default(expanded_url) }};
	if ($http_host != $domain_name) {
		return 403;
	}
	root   {{ item.root }};
	charset UTF-8;
	autoindex on;
	autoindex_exact_size off;
	autoindex_format html;

	location / {
		try_files $uri $uri/ =404;
		sub_filter_once on;
        sub_filter <head><title> "<head><style>:root{--background:#f8f8f8;--foreground:#222;--sub:#666;--hover:#dfdfdf}html{line-height:1.75}body{font-family:sans-serif;background-color:var(--background);-webkit-text-size-adjust:100%;font-size:1rem;font-weight:400;padding:1em;margin:auto;max-width:42rem}pre{visibility: hidden}pre a{text-decoration:underline;text-decoration-thickness:2px;text-decoration-color:var(--hover);color:var(--foreground);visibility: visible}a:visited{color:var(--foreground)}a:hover{text-decoration:var(--sub)}a:active{color:var(--foreground);background:var(--hover)}h1{margin-bottom: 1.75em;margin-top: 1.75em;line-height: 125%;color: var(--foreground);text-transform: lowercase}hr{display: none}@media screen and (min-width:768px){body{margin:auto 5rem}}</style><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"><title>";
	}
}
