server {
    listen 80;
    server_name {{ item.server_name | default(expanded_url) }};

    set $backend "http://piped-frontend:80";

    location / {
        proxy_pass $backend;
        proxy_http_version 1.1;
        proxy_set_header Connection "keep-alive";
        proxy_set_header Access-Control-Allow-Origin *;
        proxy_set_header Access-Control-Allow-Headers *;
    }
}
