#!/bin/bash

set -e

cd {{ location.docker_data }}/{{ service_directory }}
mkdir -p {{ location.onsite_backups }}/{{ service_directory }}

bt=$(date '+%Y%m%d-%H%M')

sqlite3 app.db ".backup 'app-$bt.db'"

zstd --rm -q app-$bt.db

mv app-$bt.db.zst {{ location.onsite_backups }}/{{ service_directory }}
