Port {{ sshd_port }}

HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key

KexAlgorithms curve25519-sha256@libssh.org,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com

LogLevel WARN
Subsystem sftp  internal-sftp -f AUTHPRIV -l INFO

PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
ChallengeResponseAuthentication yes

AuthorizedPrincipalsFile none
AuthorizedKeysCommand none
AuthorizedKeysCommandUser nobody

PasswordAuthentication yes
KbdInteractiveAuthentication no

UsePAM yes
Protocol 2
AllowAgentForwarding no
AllowTcpForwarding no
AllowStreamLocalForwarding no
GatewayPorts no
X11Forwarding no
PermitTunnel no
PermitEmptyPasswords no
IgnoreRhosts yes
PrintMotd no
TCPKeepAlive no
PermitUserEnvironment no
Compression no
PermitRootLogin no
HostbasedAuthentication no
AllowGroups sshuser
MaxAuthTries 3
MaxSessions 6
MaxStartups 4
LoginGraceTime 60
