x-httpservice: &httpservice
  type: http
  method: GET
  check_interval: 60
  timeout: 10
  expected_status: 200
  allow_notifications: true
  notify_after: 2
  notify_all_changes: true
  public: true
  redirect: true

services:
{% for monitor in all_names %}
  - name: {{ monitor }}
    domain: "https://{{ all_urls[loop.index0] }}"
    <<: *httpservice
{% endfor %}
