const config = {
  domain: process.env.DOMAIN || '{{ expanded_url }}',
  default_lang: process.env.DEFAULT_LANG || 'en',
  theme: process.env.THEME || 'white',
  http_addr: process.env.HTTP_ADDR || '0.0.0.0',
  nonssl_port: process.env.NONSSL_PORT || 8080,

  redis_url: process.env.REDIS_URL || process.env.REDIS_HOST || 'wikiless-redis',
  redis_password: process.env.REDIS_PASSWORD,

  trust_proxy: process.env.TRUST_PROXY === 'true' || true,
  trust_proxy_address: process.env.TRUST_PROXY_ADDRESS || '127.0.0.1',

  setexs: {
    wikipage: process.env.WIKIPAGE_CACHE_EXPIRATION || (60 * 60 * 1), // 1 hour
  },

  wikimedia_useragent: process.env.wikimedia_useragent || 'Wikiless media proxy bot (https://github.com/Metastem/wikiless)',

  cache_control: process.env.CACHE_CONTROL !== 'true' || true,
  cache_control_interval: process.env.CACHE_CONTROL_INTERVAL || 24,
}

module.exports = config
