{{ traefik_protocol }}:
{% if traefik_options.create_service %}
  services:
    {{ traefik_options.service_name | default(service_directory) }}:
      loadBalancer:
        servers:
{% for server in traefik_options.servers %}
{% if traefik_options.protocol == 'http' %}
          - url: "http://{{ server.url  }}:{{ server.port }}"
{% else %}
          - address: "{{ server.url }}:{{ server.port }}"
{% endif %}
{% endfor %}
{% endif %}
{% if traefik_options.create_router %}
  routers:
    {{ traefik_options.router_name }}:
{% if traefik_options.rule | length > 0 %}
      rule: "{{ traefik_rule }}"
{% elif url.path is undefined %}
      rule: "Host(`{{ expanded_url }}`)"
{% else  %}
      rule: "Host(`{{ url.sub + '.' + base_tld }}`) && PathPrefix(`/{{ url.path }}`)"
{% endif %}
      service: "{{ traefik_options.service_name }}"
      tls: &modern
        options: modern@file
{% if traefik_options.protocol == 'http' %}
{% if (traefik_options.middlewares| length > 0) or (traefik_options.redirect == True) %}
      middlewares:
{% if traefik_options.redirect == True %}
        - {{ traefik_options.router_name }}-strip
        - {{ traefik_options.router_name }}-redirect
{% endif %}
{% if traefik_options.middlewares| length > 0)%}
{% for middleware in traefik_options.middlewares %}
        - {{ middleware }}
{% endfor %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
