{{ traefik_protocol }}:
{% if traefik_create_service %}
  services:
    {{ traefik_service_name }}:
      loadBalancer:
        servers:
{% for server in traefik_servers %}
{% if traefik_protocol == 'http' %}
          - url: "http://{{ server.url  }}:{{ server.port }}"
{% else %}
          - address: "{{ server.url }}:{{ server.port }}"
{% endif %}
{% endfor %}
{% endif %}
{% if traefik_create_router %}
  routers:
    {{ traefik_router_name }}:
{% if traefik_rule | length > 0 %}
      rule: "{{ traefik_rule }}"
{% elif url.path is undefined %}
      rule: "Host(`{{ expanded_url }}`)"
{% else  %}
      rule: "Host(`{{ url.sub + '.' + base_tld }}`) && PathPrefix(`/{{ url.path }}`)"
{% endif %}
      service: "{{ traefik_service_name }}"
      tls: &modern
        options: modern@file
{% if traefik_protocol == 'http' %}
{% if (traefik_middlewares| length > 0) or (traefik_redirect == True) %}
      middlewares:
{% if traefik_redirect == True %}
        - {{ traefik_router_name }}-strip
        - {{ traefik_router_name }}-redirect
{% endif %}
{% if traefik_middlewares| length > 0 %}
{% for middleware in traefik_middlewares %}
        - {{ middleware }}
{% endfor %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
