#!/bin/bash

set -e

cd {{ location.docker_data }}/{{ service_directory }}
mkdir -p {{ location.onsite_backups }}/{{ service_directory }}

bt=$(date '+%Y%m%d-%H%M')
docker exec -t {{ service_directory }}-postgres pg_dumpall -c -U lemmy > lemmy-$bt.db

zstd --rm -q lemmy-$bt.db

mv lemmy-$bt.db.zst {{ location.onsite_backups }}/{{ service_directory }}
