<Config>
  <LogLevel>info</LogLevel>
  <UrlBase>{% if urls.sonarr.path != '' %}/{{ urls.sonarr.path }}{% endif %}</UrlBase>
  <UpdateMechanism>Docker</UpdateMechanism>
  <BindAddress>*</BindAddress>
  <Port>8989</Port>
  <SslPort>9898</SslPort>
  <EnableSsl>False</EnableSsl>
  <LaunchBrowser>False</LaunchBrowser>
  <ApiKey></ApiKey>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <Branch>master</Branch>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <InstanceName>Sonarr</InstanceName>
  <Theme>auto</Theme>
  <AuthenticationRequired>DisabledForLocalAddresses</AuthenticationRequired>
  <AnalyticsEnabled>False</AnalyticsEnabled>
  <PostgresUser>{{ pg.sonarr.user }}</PostgresUser>
  <PostgresPassword>{{ pg.sonarr.password }}</PostgresPassword>
  <PostgresPort>5432</PostgresPort>
  <PostgresHost>postgres</PostgresHost>
  <PostgresMainDb>sonarrmain</PostgresMainDb>
  <PostgresLogDb>sonarrlog</PostgresLogDb>
</Config>
