---
title: {{ instance_name }}
color: neutral
base: https://{{ expanded_url }}
target: _self
headerStyle: clean
quicklaunch:
  searchDescriptions: true
  hideInternetSearch: false
  showSearchSuggestions: true
hideVersion: true
showStats: false
theme: light
